
/* PROFILE PAGE CSS */
#ProfilePage {
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
    height:100vh; 
    margin: 0px;
    padding: 0px;
    overflow: hidden;

   
}

body{
    margin: 0;
}
/* END PROFILE PAGE CSS */

/* PROFILE HEADER CSS */
#ProfileHeader{
    display: grid;
    position: sticky;
    height: 100px;
    grid-template-columns: 2fr 9fr 1fr;
    background-color: rgba(105, 105, 105, 0.267);
    box-shadow: 0 4px 30px 0 rgb(54, 71, 125), 0 6px 20px 0 rgba(35, 47, 87, 0.249);
}
/* END PROFILE HEADER CSS */

/* PROFILE BODY CSS */
#ProfileBody{
    padding: 3em 2em;
}

#subView{
    display: grid;
    grid-template-columns: 2fr 3fr;
}

#subListDiv{
    padding: 2em;
    border: 1px solid black;
    height: 45em;
    overflow: scroll;
}

.unsubDiv{
    padding: 2em 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
}  

.unsubDiv:hover{
    cursor: pointer;
}  

#subInfoDiv{
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
    padding: 2em;
    text-align: center;
}

#subInfoDiv h2{
    font-size: 3em;
    font-weight: bold;
}

#subInfoBody{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 3em;
}

#subInfoBody h4{
    padding: 1em;
    margin: 1em 0;
}

#subInfoKeys{
    text-align: right;
    border-right: 1px solid black;
}

#subInfoValues{
    text-align: left;
    border-left: 1px solid black;
}


/* END PROFILE BODY CSS */

/* PROFILE FOOTER CSS */
#ProfileFooter{
    display: grid;
    grid-template-columns: 10fr 2fr;
    position: sticky;
    height: 100px;
    background-color: rgba(105, 105, 105, 0.267);
    box-shadow: 0 -4px 30px 0 rgb(54, 71, 125), 0 -6px 20px 0 rgba(35, 47, 87, 0.249);
}
/* END PROFILE FOOTER CSS */

/* PROFILE BUTTONS CSS */
#ProfileButton{
    text-align: left;
    padding: 259px 0 0 0;
}

#GoogleButton{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 0px;
    margin: 0px;
    outline: none;
    display: inline-block;
    
}

#GoogleButton:hover {
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}


#GoogleButton:active {
    filter: grayscale(25%) ;  

}


#HomeBtn{
    display: grid;
    grid-template-columns: 1fr 6fr;
    position: relative;
    height: 80px;
    border-radius: 50%;
}

#HomeBtnImg{
    margin: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
#HomeBtn:hover{
    cursor: pointer;
}

#HomeBtnImg:hover {
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#HomeBtnImg:active {
    filter: grayscale(25%);  
}

#HomeBtnTxt{
    text-align: left;
    margin: auto 0;
    width: 250px;
    height: 34px;
}

.Button{
    text-align: center;
    border-left: solid;
    border-right: solid;
    border-width: 1px;
    padding: 25px;
}

h3{
    margin: 0px;
}

.OptionBtn {
    background-color: white;
    color: black;
    border: 2px solid rgb(82, 138, 211);
    padding: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.OptionBtnPressed {
    background-color: rgb(82, 138, 211);
    color: white;
    border: 2px solid rgb(82, 138, 211);
    padding: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}


button:focus{
    outline:0;
}

/* END PROFILE BUTTONS CSS */